body{
    margin: 0;
    line-height: 1.7em;
    font-size: 16px;
    text-align: center;
}

main{
    margin: 0;
    height: 80%;
}

footer{
    margin: 0;
}

.main-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.date{
    font-size: 24px;
}

.picture-container img{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.iframe-container{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 10px;
}

.iframe-container iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.iframe-container-4x3{
    padding-top: 75%;
}

.format{
    display: block;
}

.footer-box, .github{
    color: white;
    font-size: 20px;
}

.github{
    font-size: 24px;
}